RewriteEngine On

# Redirigir /admin a /admin/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/admin$
RewriteRule ^(.*)$ /admin/ [R=301,L]

# Prevenir listado de directorios
Options -Indexes
